.space-profile-acronym-1.space-acronym, .panel-profile .panel-profile-header .profile-user-photo-container .profile-user-photo {
	border:4px @white solid;
	border-radius: 50% !important;
}
.form-control.form-search{
	background-image:none;
}
.nav-search{
	display: inline-block;



	input[type=text]:not(.browser-default):focus:not([readonly]){
		border-bottom: 2px solid @brandcolor;
		box-shadow: none;
	}
	input[type=text]:not(.browser-default) {
	    margin: -32px 0 20px 24px;
	}
}

