/**
 * Define or overwrite your theme selectors within this file.
**/

body{
  padding-top: 0;
  background-color:@white;
  font-family: 'Roboto';
}

i{
  color: @brandcolor;
}
h5{
  font-size: 10px;
}
.img-rounded {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.wall-entry{
  margin-right: 40px;
}
/*

.innerdivgrid { width: 100%; }

@media screen and (min-width: 1000px){
  .innerdivgrid { width: 50%; }
}

@media screen and (min-width: 1800px) {
  .innerdivgrid { width: 33.333%; }
}
*/

/* ---- grid-item ---- */

.grid-item {
  width: 400px;
  // height: 120px;
  //float: left;
  // background: #D26;
  // border: 2px solid #333;
  // border-color: hsla(0, 0%, 0%, 0.5);
  // border-radius: 5px;

}

// .wall-entry{
// 	margin:10px;
// }