/**
 * Define or overwrite your theme selectors within this file.
**/

body{
	
	padding-top: 0;
}


.img-rounded {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#layout-content{
	-webkit-transition: .2s ease-out;
	transition: .2s ease-out;
	
}