/**
 * Define or overwrite your theme selectors within this file.
**/

body{
  padding-top: 0;
  background-color:@white;
  font-family: 'Roboto';
}

i{
  color: @brandcolor;
}
h5{
  font-size: 10px;
}
// #layout-content{
//   margin-top: 5vh;
// }
.img-rounded {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.wall-entry{
  margin-right: 40px;
}
/* ---- settings ---- */
a.list-group-item:hover, a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus{
  border-left: 3px solid @brandcolor !important;
}
